domain = "example.com"
rails_env = "production"
devise_jwt_secret_key = "XXX"
api_domain = "example.frontend.com"
api_key = "XXX"
db_host = "${module.rds.endpoint}"
db_username = "XXX"
db_password = "XXX"
db_database = "jamty_production"
rails_log_to_stdout = "true"
